/* Define CSS Variables */
:root {
  /* Repeated color value for the main theme color */
  --main-color: #106761;

  /* Repeated border radius value for elements with rounded corners */
  --border-radius-value: 8px;
}

/* Apply the CSS Variables to your original CSS code */

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  /* Set the background color using the main color variable */
  background-color: var(--main-color);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--main-color); /* Use the main color variable for the background */
  color: #fff;
}

nav {
  display: flex;
  background-color: #d3d3d3;
}

nav a {
  color: var(--main-color); /* Use the main color variable for the text color */
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--main-color); /* Use the main color variable for the background */
  color: #fff;
  margin-top: auto;
}

.products {
  flex: 1;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-value); /* Use the border radius variable */
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card > header {
  border-radius: var(--border-radius-value) var(--border-radius-value) 0 0; /* Use the border radius variable */
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
